.box {
  height: 7868px;
  width: 888px;

  .accordion-2 {
    align-items: flex-start;
    background-color: #e9ecef;
    border: 1px dashed;
    border-color: #7b61ff;
    border-radius: 5px;
    display: inline-flex;
    flex-direction: column;
    gap: 30px;
    left: 928px;
    overflow: hidden;
    padding: 16px;
    position: fixed;
    top: 0;
  }
}
