.box {
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  background-color: #f8f9fa;

  .accordion-container {
    max-width: 856px;
    margin: 0 auto;
    background-color: #e9ecef;
    border: 1px dashed #7b61ff;
    border-radius: 5px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
